<html>
<head>
</head>
<body>
</br></br>
<a href="/view_my_flights_s">View My Flights</a>
<a href="/change_flight_status_form">Change Flight Status</a>
<a href="/create_new_flight_form">Create New Flight</a>
<a href="/add_airplane_form">Add Airplane</a>
<a href="/add_airport_form">Add New Airport</a>
<a href="/view_all_booking_agents">View All Booking Agents</a>
<a href="/view_freq_customers">View Frequent Customers</a>
<a href="/view_reports_form">View Reports</a>
<a href="/comparision_of_revenue">Comparision Of Revenue</a>
<a href="/view_top_destinations">View Top Destinations</a>
</br></br>


<form action="/add_airport" method="POST">
	<input type="text" name = "airport_id" placeholder="Airport ID" required/> </br>
	<input type="text" name = "name" placeholder="Airport Name" required/></br>
	<input type="text" name = "city" placeholder="Airport City" required/></br>
	<input type="submit" value = Add/>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Airport ID</th>
	<th>Airport Name</th>
	<th>Airport City</th>

{% for line in flights %}
	<tr>
		<td>{{line['id']}}</td>
		<td>{{line['name']}}</td>
		<td>{{line['city']}}</td>

	</tr>
{% endfor %}
</table>

<a href="/logout">Logout</a>

</body>


</html>
