<html>
<head>
</head>
<body>
</br></br>
<a href="/view_my_flights_s">View My Flights</a>
<a href="/change_flight_status_form">Change Flight Status</a>
<a href="/create_new_flight_form">Create New Flight</a>
<a href="/add_airplane_form">Add Airplane</a>
<a href="/add_airport_form">Add New Airport</a>
<a href="/view_all_booking_agents">View All Booking Agents</a>
<a href="/view_freq_customers">View Frequent Customers</a>
<a href="/view_reports_form">View Reports</a>
<a href="/comparision_of_revenue">Comparision Of Revenue</a>
<a href="/view_top_destinations">View Top Destinations</a>
</br></br>


<form action="/create_new_flight" method="POST">
	<input type="text" name = "flight_num" placeholder="Flight Number" required/> </br>
	<input type="text" name = "airplane_id" placeholder="Airplane ID" required/></br>
	<input type="text" name = "base_price" placeholder="Base Price" required/> </br>
	<input type="text" name = "departure_hour" placeholder="Departure Hour" required/> </br>
	<input type="text" name = "departure_min" placeholder="Departure Minute" required/> </br>
	<input type="text" name = "departure_day" placeholder="Departure Day" required/> </br>
	<input type="text" name = "departure_month" placeholder="Departure Month" required/> </br>
	<input type="text" name = "departure_year" placeholder="Departure Year" required/> </br>
	<input type="text" name = "departure_airport" placeholder="Departure Airport ID" required/> </br>
	<input type="text" name = "arrival_hour" placeholder="Arrival Hour" required/> </br>
	<input type="text" name = "arrival_min" placeholder="Arrival Minute" required/> </br>
	<input type="text" name = "arrival_day" placeholder="Arrival Day" required/> </br>
	<input type="text" name = "arrival_month" placeholder="Arrival Month" required/> </br>
	<input type="text" name = "arrival_year" placeholder="Arrival Year" required/> </br>
	<input type="text" name = "arrival_airport" placeholder="Arrival Airport ID" required/> </br>
	<input type="text" name = "status" placeholder="Status" required/> </br>
	<input type="submit" value = Create />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Flight Number</th>
	<th>Status</th>
	<th>Airline Name</th>
	<th>Source Airport</th>
	<th>Departure Hour</th>
	<th>Departure Minute</th>
	<th>Departure Day</th>
	<th>Departure Month</th>
	<th>Departure Year</th>
	<th>Destination Airport</th>
	<th>Arrival Hour</th>
	<th>Arrival Minute</th>
	<th>Arrival Day</th>
	<th>Arrival Month</th>
	<th>Arrival Year</th>
	<th>Base Price</th>

{% for line in flights %}
	<tr>
		<td>{{line['flight_num']}}</td>
		<td>{{line['status']}}</td>
		<td>{{line['airline_name']}}</td>
		<td>{{line['departure_airport']}}</td>
		<td>{{line['departure_hour']}}</td>
		<td>{{line['departure_min']}}</td>
		<td>{{line['departure_day']}}</td>
		<td>{{line['departure_month']}}</td>
		<td>{{line['departure_year']}}</td>
		<td>{{line['arrival_airport']}}</td>
		<td>{{line['arrival_hour']}}</td>
		<td>{{line['arrival_min']}}</td>
		<td>{{line['arrival_day']}}</td>
		<td>{{line['arrival_month']}}</td>
		<td>{{line['arrival_year']}}</td>
		<td>{{line['base_price']}}</td>

	</tr>
{% endfor %}
</table>

<a href="/logout">Logout</a>

</body>


</html>
