<html>
<head>
</head>
<body>
</br></br>
<a href="/view_my_flights_s">View My Flights</a>
<a href="/change_flight_status">Change Flight Status</a>
<a href="/create_new_flight">Create New Flight</a>
<a href="/add_airplane">Add Airplane</a>
<a href="/add_new_airport">Add New Airport</a>
<a href="/view_all_booking_agents">View All Booking Agents</a>
<a href="/view_freq_customers">View Frequent Customers</a>
<a href="/view_reports">View Reports</a>
<a href="/comparision_of_revenue">Comparision Of Revenue</a>
<a href="/view_top_destinations">View Top Destinations</a>
</br></br>


<form action="/registerAuth_s" method="POST">
	<input type="text" name = "username" placeholder="Username" required/> </br>
	<input type="password" name = "password" placeholder="Password" required/></br>
	<input type="text" name = "first_name" placeholder="First Name" required/> </br>
	<input type="text" name = "last_name" placeholder="Last Name" required/> </br>
	<input type="text" name = "airline_name" placeholder="Airline Name" required/> </br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Flight Number</th>
	<th>Status</th>
	<th>Airline Name</th>
	<th>Source Airport</th>
	<th>Departure Hour</th>
	<th>Departure Minute</th>
	<th>Departure Day</th>
	<th>Departure Month</th>
	<th>Departure Year</th>
	<th>Destination Airport</th>
	<th>Arrival Hour</th>
	<th>Arrival Minute</th>
	<th>Arrival Day</th>
	<th>Arrival Month</th>
	<th>Arrival Year</th>
	<th>Base Price</th>

{% for line in flights %}
	<tr>
		<td>{{line['flight_num']}}</td>
		<td>{{line['status']}}</td>
		<td>{{line['airline_name']}}</td>
		<td>{{line['departure_airport']}}</td>
		<td>{{line['departure_hour']}}</td>
		<td>{{line['departure_min']}}</td>
		<td>{{line['departure_day']}}</td>
		<td>{{line['departure_month']}}</td>
		<td>{{line['departure_year']}}</td>
		<td>{{line['arrival_airport']}}</td>
		<td>{{line['arrival_hour']}}</td>
		<td>{{line['arrival_min']}}</td>
		<td>{{line['arrival_day']}}</td>
		<td>{{line['arrival_month']}}</td>
		<td>{{line['arrival_year']}}</td>
		<td>{{line['base_price']}}</td>

	</tr>
{% endfor %}
</table>

<a href="/logout">Logout</a>

</body>


</html>
