<html>
<head>
</head>
<body>
</br></br>
<a href="/login">Login/Sign-up</a>

</br></br>
<form action="/search" method="POST">
	<h1>Welcome {{username}}</h1>
	<input type="text" name = "src_airport" placeholder="Source Airport" required/> </br>
	<input type="text" name = "des_airport" placeholder="Destination Airport" required/> </br>
	<input type="text" name = "departure_d" placeholder="Departure Day" required/> </br>
	<input type="text" name = "departure_m" placeholder="Departure Month" required/> </br>
	<input type="text" name = "departure_y" placeholder="Departure Year" required/> </br>
	<input type="text" name = "round_trip" placeholder="Round Trip" required/> </br>
	<input type="text" name = "arrival_d" placeholder="Arrival Day" required/> </br>
	<input type="text" name = "arrival_m" placeholder="Arrival Month" required/> </br>
	<input type="text" name = "arrival_y" placeholder="Arrival Year" required/> </br>
	<input type="checkbox" name="match-with-pairs"/>

	<input type="submit" value = Search />
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Flight Number</th>
	<th>Airline Name</th>
	<th>Source Airport</th>
	<th>departure hour </th>
	<th>departure min</th>
	<th>departure day</th>
	<th>departure month</th>
	<th>departure year</th>
	<th>Destination Airport</th>
	<th>arrival hour </th>
	<th>arrival min</th>
	<th>arrival day</th>
	<th>arrival month</th>
	<th>arrival year</th>
	<th>Status</th>
	<th>Number of Seats</th>
	<th>Book Now</th>


{% for line in flights %}
	<tr>
		<td>{{line['flight_num']}}</td>
		<td>{{line['airline_name']}}</td>
		<td>{{line['departure_airport']}}</td>
		<td>{{line['departure_hour']}}</td>
		<td>{{line['departure_min']}}</td>
		<td>{{line['departure_day']}}</td>
		<td>{{line['departure_month']}}</td>
		<td>{{line['departure_year']}}</td>
		<td>{{line['arrival_airport']}}</td>
		<td>{{line['arrival_hour']}}</td>
		<td>{{line['arrival_min']}}</td>
		<td>{{line['arrival_day']}}</td>
		<td>{{line['arrival_month']}}</td>
		<td>{{line['arrival_year']}}</td>
		<td>{{line['status']}}</td>
		<td>{{line['num_of_seats']}}</td>

		<td><form action="/purchase_ticket_c" method="POST">
    <input type="text" name="flight_num" value={{line['flight_num']}}>
    <button type=”submit”> Book </button></form></td>
	</tr>
{% endfor %}


</table>


</body>


</html>
