<html>
<head>
</head>
<body>
</br></br>
<a href="/view_my_flights_c">View My Flights</a>
<a href="/search">Search For Flights</a>
</br></br>


<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
		<th>Flight Number</th>
		<th>Airline Name</th>
		<th>Source Airport</th>
		<th>departure hour </th>
		<th>departure min</th>
		<th>departure day</th>
		<th>departure month</th>
		<th>departure year</th>
		<th>Destination Airport</th>
		<th>arrival hour </th>
		<th>arrival min</th>
		<th>arrival day</th>
		<th>arrival month</th>
		<th>arrival year</th>
		<th>Status</th>
		<th>Number of Seats</th>
		<th>Book Now</th>


	{% for line in flight %}
		<tr>
			<td>{{line['flight_num']}}</td>
			<td>{{line['airline_name']}}</td>
			<td>{{line['departure_airport']}}</td>
			<td>{{line['departure_hour']}}</td>
			<td>{{line['departure_min']}}</td>
			<td>{{line['departure_day']}}</td>
			<td>{{line['departure_month']}}</td>
			<td>{{line['departure_year']}}</td>
			<td>{{line['arrival_airport']}}</td>
			<td>{{line['arrival_hour']}}</td>
			<td>{{line['arrival_min']}}</td>
			<td>{{line['arrival_day']}}</td>
			<td>{{line['arrival_month']}}</td>
			<td>{{line['arrival_year']}}</td>
			<td>{{line['status']}}</td>
			<td>{{line['num_of_seats']}}</td>

	</tr>
{% endfor %}
</table>

<form action="/payment_c" method="POST">
	<h1>Please Input your credit card details</h1>
	<input type="text" name = "name" placeholder="Name on Credit Card" required/> </br>
	<input type="text" name = "card_number" placeholder="Credit Card Number" required/> </br>
	<input type="text" name = "card_type" placeholder="Card Type" required/> </br>
	<input type="text" name = "security_code" placeholder="Security Code" required/> </br>
	<input type="text" name = "exp_month" placeholder="Expiry Month" required/> </br>
	<input type="text" name = "exp_year" placeholder="Expiry Year" required/> </br>
	<input type="submit" value = Search />
</form>


<a href="/logout_c">Logout</a>

</body>


</html>
