<html>
<head>
</head>
<body>
</br></br>
<a href="/view_my_flights_c">View My Flights</a>
<a href="/search">Search For Flights</a>
</br></br>


<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Flight Number</th>
	<th>Airline Name</th>
	<th>Source Airport</th>
	<th>Destination Airport</th>
	<th>Status</th>
	<th>Number of Seats Available</th>
	<th>Price</th>


{% for line in flight %}
	<tr>
		<td>{{line['flight_num']}}</td>
		<td>{{line['airline_name']}}</td>
		<td>{{line['arrival_airport']}}</td>
		<td>{{line['departure_airport']}}</td>
		<td>{{line['status']}}</td>
		<td>{{line['num_seats_available']}}</td>
		<td>{{line['price']}}</td>

	</tr>
{% endfor %}
</table>

<form action="/search" method="POST">
	<h1>Please Input your credit card details</h1>
	<input type="text" name = "src_airport" placeholder="Source Airport" required/> </br>
	<input type="text" name = "des_airport" placeholder="Destination Airport" required/> </br>
	<input type="text" name = "departure_d" placeholder="Departure Day" required/> </br>
	<input type="text" name = "departure_m" placeholder="Departure Month" required/> </br>
	<input type="text" name = "departure_y" placeholder="Departure Year" required/> </br>
	<input type="text" name = "round_trip" placeholder="Round Trip" required/> </br>
	<input type="text" name = "arrival_d" placeholder="Arrival Day" required/> </br>
	<input type="text" name = "arrival_m" placeholder="Arrival Month" required/> </br>
	<input type="text" name = "arrival_y" placeholder="Arrival Year" required/> </br>

	<input type="submit" value = Search />
</form>


<a href="/logout_c">Logout</a>

</body>


</html>
