<html>
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
</head>
<body>

</br></br>
<a href="/view_my_flights_c">View My Flights</a>
<a href="/home_c">Search For Flights</a>
</br></br>


<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

</br></br>
<h2>
	Total Amount of Your Spending for the past year is {{price}}
</h2>

<p>{{ name }}</p>
  <img src={{ url }} alt="Chart" height="400" width="800">


</br></br>
<h3>
	Please specify the range for displaying the total amount and the Bar Chart
</h3>




</br></br>
<a href="/logout">Logout</a>
</br></br>


</body>

</html>
