<html>
<head>
</head>
<body>
</br></br>
<a href="/view_my_flights_a">View My Flights</a>
<a href="/home_a">Search For Flights</a>
<a href="/view_my_commissions_a">View my Commissions</a>
<a href="/view_top_customers_a">View Top Customers</a>
</br></br>


<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

</br></br>
<h2>
	Total Amount of Commission received for the last 30 days is {{total_com}}
</h2>
</br></br>
<h2>
	Average Amount of Commission Received per ticket for the last 30 days is {{avg_com}}
</h2>
</br></br>
<h2>
	Total Number of Tickets Sold for the last 30 days is {{count}}
</h2>


</br></br>
<h3>
	Enter the Date range you want to see the data for:
</h3>
<form action="/view_my_commissions_a" method="POST">
	<input type="text" name = "start_date" placeholder="Start Date in yyyy-mm-dd" required/> </br>
	<input type="text" name = "end_date" placeholder="End Date in yyyy-mm-dd" required/></br>
	<input type="submit" value = Search />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/logout">Logout</a>

</body>


</html>
