<html>
<head>
</head>
<body>
</br></br>
<a href="/view_my_flights_s">View My Flights</a>
<a href="/change_flight_status_form">Change Flight Status</a>
<a href="/create_new_flight_form">Create New Flight</a>
<a href="/add_airplane_form">Add Airplane</a>
<a href="/add_airport_form">Add New Airport</a>
<a href="/view_all_booking_agents">View All Booking Agents</a>
<a href="/view_freq_customers">View Frequent Customers</a>
<a href="/view_reports_form">View Reports</a>
<a href="/comparision_of_revenue">Comparision Of Revenue</a>
<a href="/view_top_destinations">View Top Destinations</a>
</br></br>

<form action="/view_my_flights_s" method="POST">
	<h1>Welcome {{username}}</h1>
	<input type="text" name = "src_airport" placeholder="Source Airport" required/> </br>
	<input type="text" name = "des_airport" placeholder="Destination Airport" required/> </br>
	<input type="text" name = "start_date" placeholder="Start Year in yyyy" required/> </br>
	<input type="text" name = "end_date" placeholder="End Year in yyyy" required/></br>
	<input type="submit" value = Search />
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Flight Number</th>
	<th>Status</th>
	<th>Airline Name</th>
	<th>Source Airport</th>
	<th>Departure Hour</th>
	<th>Departure Minute</th>
	<th>Departure Day</th>
	<th>Departure Month</th>
	<th>Departure Year</th>
	<th>Destination Airport</th>
	<th>Arrival Hour</th>
	<th>Arrival Minute</th>
	<th>Arrival Day</th>
	<th>Arrival Month</th>
	<th>Arrival Year</th>
	<th>Base Price</th>

{% for line in flights %}
	<tr>
		<td>{{line['flight_num']}}</td>
		<td>{{line['status']}}</td>
		<td>{{line['airline_name']}}</td>
		<td>{{line['departure_airport']}}</td>
		<td>{{line['departure_hour']}}</td>
		<td>{{line['departure_min']}}</td>
		<td>{{line['departure_day']}}</td>
		<td>{{line['departure_month']}}</td>
		<td>{{line['departure_year']}}</td>
		<td>{{line['arrival_airport']}}</td>
		<td>{{line['arrival_hour']}}</td>
		<td>{{line['arrival_min']}}</td>
		<td>{{line['arrival_day']}}</td>
		<td>{{line['arrival_month']}}</td>
		<td>{{line['arrival_year']}}</td>
		<td>{{line['base_price']}}</td>

	</tr>
{% endfor %}
</table>

<a href="/logout">Logout</a>

</body>


</html>
