<html>
<head>
</head>
<body>
</br></br>
<a href="/view_my_flights_s">View My Flights</a>
<a href="/change_flight_status_form">Change Flight Status</a>
<a href="/create_new_flight_form">Create New Flight</a>
<a href="/add_airplane_form">Add Airplane</a>
<a href="/add_airport_form">Add New Airport</a>
<a href="/view_all_booking_agents">View All Booking Agents</a>
<a href="/view_freq_customers">View Frequent Customers</a>
<a href="/view_reports_form">View Reports</a>
<a href="/comparision_of_revenue">Comparision Of Revenue</a>
<a href="/view_top_destinations">View Top Destinations</a>
</br></br>



<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

</br></br>
<h3>
	The top 5 booking agents based on tickets sold for the last month
</h3>
</br></br>


<table>
	<th>Booking Agent ID</th>

{% for line in top_agents_month %}
	<tr>
		<td>{{line['booking_agent_id']}}</td>
	</tr>
{% endfor %}
</table>


</br></br>
<h3>
	The top 5 booking agents based on tickets sold for the last year
</h3>
</br></br>


<table>
	<th>Booking Agent ID</th>

{% for line in top_agents_year %}
	<tr>
		<td>{{line['booking_agent_id']}}</td>
	</tr>
{% endfor %}
</table>


</br></br>
<h3>
	The top 5 booking agents based on commissions received for the last year
</h3>
</br></br>


<table>
	<th>Booking Agent ID</th>

{% for line in top_agents_comm %}
	<tr>
		<td>{{line['booking_agent_id']}}</td>
	</tr>
{% endfor %}
</table>


<a href="/logout">Logout</a>

</body>


</html>
