<html>
<head>
</head>
<body>
</br></br>
<a href="/view_my_flights_s">View My Flights</a>
<a href="/change_flight_status_form">Change Flight Status</a>
<a href="/create_new_flight_form">Create New Flight</a>
<a href="/add_airplane_form">Add Airplane</a>
<a href="/add_airport_form">Add New Airport</a>
<a href="/view_all_booking_agents">View All Booking Agents</a>
<a href="/view_freq_customers">View Frequent Customers</a>
<a href="/view_reports_form">View Reports</a>
<a href="/comparision_of_revenue">Comparision Of Revenue</a>
<a href="/view_top_destinations">View Top Destinations</a>
</br></br>


</br></br>
<h3>
	Please specify first the range of months for the Reports
</h3>

<form action="/view_reports" method="POST">
	<input type="text" name = "months" placeholder="Number of Months" required/> </br>
	<input type="submit" value = Search />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

</br></br>
<h2>
	Total number of tickets sold for the specified range is {{count}}
</h2>


<a href="/logout">Logout</a>

</body>


</html>
